@model Pessoa

@{
    ViewData["Title"] = "Detalhes da Pessoa";
}

<div class="modal fade" data-bs-backdrop="static" id="detailPessoa-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhe da pessoa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Nome)</strong>
                    <p>@Html.DisplayFor(model => model.Nome)</p>
                </div>
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Sobrenome)</strong>
                    <p>@Html.DisplayFor(model => model.Sobrenome)</p>
                </div>
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Nascimento)</strong>
                    <p>@Html.DisplayFor(model => model.Nascimento)</p>
                </div>
                <div class="mb-3">
                    <strong>@Html.DisplayNameFor(model => model.Telefone)</strong>
                    <p>@Html.DisplayFor(model => model.Telefone)</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>